# Byte-compiled / optimized / DLL files
.vscode
__pycache__/
*.py[cod]
*$py.class
data/
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
DockM8.code-workspace
software/Convex-PL
software/gnina
software/KORP-PL
software/PLANTS
software/qvina-w
software/qvina2.1
software/rf-score-vs
software/smina.static
software/AA-Score-Tool-main/AA_Fp.ipynb
software/AA-Score-Tool-main/AA_Score.ipynb
software/AA-Score-Tool-main/AA_Score.py
software/AA-Score-Tool-main/environment.yaml
software/AA-Score-Tool-main/LICENSE.txt
software/AA-Score-Tool-main/README.md
software/AA-Score-Tool-main/show_interactions.ipynb
software/AA-Score-Tool-main/interaction_components/__init__.py
software/AA-Score-Tool-main/interaction_components/config.py
software/AA-Score-Tool-main/interaction_components/detection.py
software/AA-Score-Tool-main/interaction_components/LICENSE.txt
software/AA-Score-Tool-main/interaction_components/plinteraction.py
software/AA-Score-Tool-main/interaction_components/README.md
software/AA-Score-Tool-main/interaction_components/utils.py
software/AA-Score-Tool-main/models/model-final.npy
software/AA-Score-Tool-main/scripts/get_pocket_by_biopandas.py
software/AA-Score-Tool-main/scripts/get_pocket_by_schrodinger.py
software/AA-Score-Tool-main/scripts/README.md
software/AA-Score-Tool-main/scripts/repair_ligand_by_schrodinger.py
software/AA-Score-Tool-main/utils/__init__.py
software/AA-Score-Tool-main/utils/electrostatic.py
software/AA-Score-Tool-main/utils/hbonds.py
software/AA-Score-Tool-main/utils/hydrophobic.py
software/AA-Score-Tool-main/utils/vdw.py
software/gypsum_dl-1.2.1/__init__.py
software/gypsum_dl-1.2.1/.gitignore
software/gypsum_dl-1.2.1/CHANGELOG.md
software/gypsum_dl-1.2.1/CONTRIBUTORS.md
software/gypsum_dl-1.2.1/LICENSE.txt
software/gypsum_dl-1.2.1/README.md
software/gypsum_dl-1.2.1/run_gypsum_dl.py
software/gypsum_dl-1.2.1/gypsum_dl/__init__.py
software/gypsum_dl-1.2.1/gypsum_dl/ChemUtils.py
software/gypsum_dl-1.2.1/gypsum_dl/MolContainer.py
software/gypsum_dl-1.2.1/gypsum_dl/MolObjectHandling.py
software/gypsum_dl-1.2.1/gypsum_dl/MyMol.py
software/gypsum_dl-1.2.1/gypsum_dl/Parallelizer.py
software/gypsum_dl-1.2.1/gypsum_dl/Start.py
software/gypsum_dl-1.2.1/gypsum_dl/Utils.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/__init__.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/CHANGELOG.md
software/gypsum_dl-1.2.1/gypsum_dl/molvs/charge.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/cli.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/CONTRIBUTING.rst
software/gypsum_dl-1.2.1/gypsum_dl/molvs/errors.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/fragment.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/LICENSE
software/gypsum_dl-1.2.1/gypsum_dl/molvs/metal.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/normalize.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/README.rst
software/gypsum_dl-1.2.1/gypsum_dl/molvs/resonance.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/standardize.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/tautomer.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/utils.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/validate.py
software/gypsum_dl-1.2.1/gypsum_dl/molvs/validations.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/__init__.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/IO/__init__.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/IO/LoadFiles.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/IO/ProcessOutput.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/IO/SaveToPDB.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/IO/SaveToSDF.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/IO/Web2DOutput.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/__init__.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/AddHydrogens.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/DeSaltOrigSmiles.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/DurrantLabFilter.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/EnumerateChiralMols.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/EnumerateDoubleBonds.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/MakeTautomers.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/PrepareSmiles.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/site_structures.smarts
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/dimorphite_dl/__init__.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/dimorphite_dl/CHANGES.md
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/dimorphite_dl/CONTRIBUTORS.md
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/dimorphite_dl/dimorphite_dl.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/dimorphite_dl/LICENSE.txt
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/dimorphite_dl/README.md
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/dimorphite_dl/sample_molecules.smi
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/dimorphite_dl/site_substructures.smarts
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/dimorphite_dl/training_data/README.md
software/gypsum_dl-1.2.1/gypsum_dl/Steps/SMILES/dimorphite_dl/training_data/training_data.json
software/gypsum_dl-1.2.1/gypsum_dl/Steps/ThreeD/__init__.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/ThreeD/Convert2DTo3D.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/ThreeD/GenerateAlternate3DNonaromaticRingConfs.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/ThreeD/Minimize3D.py
software/gypsum_dl-1.2.1/gypsum_dl/Steps/ThreeD/PrepareThreeD.py
software/gypsum_dl-1.2.1/gypsum_dl/Test/__init__.py
software/gypsum_dl-1.2.1/gypsum_dl/Test/sample_molecules.json
software/gypsum_dl-1.2.1/gypsum_dl/Test/sample_molecules.smi
software/gypsum_dl-1.2.1/gypsum_dl/Test/Tester.py
software/models/DeepCoy_DEKOIS_model_e10.pickle
software/models/DeepCoy_DUDE_model_e09.pickle
software/models/DeepCoy_DUDE_phosphorus_model_e10.pickle
software/SCORCH-1.0.0/scorch.py
software/SCORCH-1.0.0/scorch.yml
software/SCORCH-1.0.0/setup.sh
software/SCORCH-1.0.0/utils/binana.py
software/SCORCH-1.0.0/utils/dock_functions.py
software/SCORCH-1.0.0/utils/ecifs.py
software/SCORCH-1.0.0/utils/kier.py
software/SCORCH-1.0.0/utils/PDB_Atom_Keys.csv
software/SCORCH-1.0.0/utils/models/.DS_Store
software/SCORCH-1.0.0/utils/models/ff_nn_models/rankings.pkl
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_16.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_33.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_85.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_103.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_104.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_178.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_393.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_394.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_458.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_519.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_537.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_582.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_583.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_589.hdf5
software/SCORCH-1.0.0/utils/models/ff_nn_models/models/params_590.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/rankings.pkl
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_13.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_337.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_438.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_439.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_462.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_463.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_11779.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_11859.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_11869.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_11926.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_11928.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_11930.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_12068.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_12143.hdf5
software/SCORCH-1.0.0/utils/models/wd_nn_models/models/params_12235.hdf5
software/SCORCH-1.0.0/utils/models/xgboost_models/495_models_58_booster.pkl
software/SCORCH-1.0.0/utils/params/58_maxabs_scaler_params.save
software/SCORCH-1.0.0/utils/params/dock_settings.json
software/SCORCH-1.0.0/utils/params/features.json
software/SCORCH-1.0.0/Dockerfile
software/SCORCH-1.0.0/LICENSE.txt
software/SCORCH-1.0.0/README.md
software/gypsum_dl-1.2.1/examples/run_gypsum_dl_test.sh
software/gypsum_dl-1.2.1/examples/sample_molecules.json
software/gypsum_dl-1.2.1/examples/sample_molecules.smi
software/gypsum_dl-1.2.1/examples/Pitt_CRC/mpi_gypsum_dl.sh
software/gypsum_dl-1.2.1/examples/Pitt_CRC/mpi_sample_molecules.json
software/gypsum_dl-1.2.1/examples/Pitt_CRC/README.md
software/gypsum_dl-1.2.1/examples/Pitt_CRC/smp_gypsum_dl.sh
software/gypsum_dl-1.2.1/examples/Pitt_CRC/smp_sample_molecules.json
software/gypsum_dl-1.2.1/examples/Pitt_CRC/tmp/sample_molecules_multi.json
software/gypsum_dl-1.2.1/examples/Pitt_CRC/tmp/sample_molecules.json
software/SCORCH-1.0.0/examples/predocked_1a0q/1a0q_receptor.pdb
software/SCORCH-1.0.0/examples/predocked_1a0q/1a0q_receptor.pdbqt
software/SCORCH-1.0.0/examples/predocked_1a0q/ligands/1a0q_decoy_1_ligand.pdbqt
software/SCORCH-1.0.0/examples/predocked_1a0q/ligands/1a0q_decoy_2_ligand.pdbqt
software/SCORCH-1.0.0/examples/predocked_1a0q/ligands/1a0q_docked_ligand.pdbqt
software/SCORCH-1.0.0/examples/smiles_REPTIN/reptin_receptor.pdbqt
software/SCORCH-1.0.0/examples/smiles_REPTIN/reptin_ref_lig.pdbqt
software/SCORCH-1.0.0/examples/smiles_REPTIN/reptin_smiles.smi
software/SCORCH-1.0.0/utils/gwovina-1.0.tar.gz
aldh1.ipynb
software/RTMScore-main/121.jpg
software/RTMScore-main/LICENSE
software/RTMScore-main/README.md
software/RTMScore-main/requirements_conda.txt
software/RTMScore-main/requirements_pip.txt
software/RTMScore-main/example/1qkt_decoys.sdf
software/RTMScore-main/example/1qkt_l.sdf
software/RTMScore-main/example/1qkt_p_pocket_10.0.pdb
software/RTMScore-main/example/1qkt_p.pdb
software/RTMScore-main/example/README.md
software/RTMScore-main/example/rtmscore.py
software/RTMScore-main/example/run_rtmscore.sh
software/RTMScore-main/RTMScore/feats/__init__.py
software/RTMScore-main/RTMScore/feats/extract_pocket_prody.py
software/RTMScore-main/RTMScore/feats/mol2graph_rdmda_res.py
software/RTMScore-main/RTMScore/model/__init__.py
software/RTMScore-main/RTMScore/model/model2.py
software/RTMScore-main/RTMScore/model/utils.py
software/RTMScore-main/trained_models/README.md
software/RTMScore-main/trained_models/rtmscore_model1.pth
software/RTMScore-main/trained_models/rtmscore_model2.pth
software/RTMScore-main/trained_models/rtmscore_model3.pth
software/SCORCH-1.0.0/.gitignore
software/SCORCH-1.0.0/.gitignore
dekois.ipynb
log.txt
log.txt
dekois copy.ipynb
dud-e.ipynb
testing_notebook_parallel.ipynb
lit-pcba.ipynb
dude copy.ipynb
dude.ipynb
results/DEKOIS_RESULTS/DEKOIS_all_models_plot.ipynb
results/DEKOIS_RESULTS/DEKOIS_consensus_clustering_plots.ipynb
results/DEKOIS_RESULTS/DEKOIS_literature.xlsx
results/DUD-E_RESULTS/DUD-E_literature.xlsx
results/DUD-E_RESULTS/DUDE_all_models_plot.ipynb
results/Lit-PCBA_RESULTS/Lit-PCBA_literature.xlsx
results/plots/DEKOIS_all_models_AUCROC.png
results/plots/DEKOIS_all_models_BEDROC.png
results/plots/DEKOIS_all_models_EF1.png
results/plots/DEKOIS_box_clustering_methods_AUCROC_all.png
results/plots/DEKOIS_box_clustering_methods_BEDROC_all.png
results/plots/DEKOIS_box_clustering_methods_EF_all.png
results/plots/DEKOIS_box_combined_plots_aucroc.png
results/plots/DEKOIS_box_combined_plots_BEDROC.png
results/plots/DEKOIS_box_combined_plots.png
results/plots/DEKOIS_box_consensus_methods_AUCROC_all.png
results/plots/DEKOIS_box_consensus_methods_BEDROC_all.png
results/plots/DEKOIS_box_consensus_methods_EF_all.png
results/plots/DEKOIS_box_SF_count_AUCROC.png
results/plots/DEKOIS_box_SF_count_BEDROC.png
results/plots/DEKOIS_box_SF_count_EF_all.png
results/plots/DEKOIS_comparison_AUCROC.png
results/plots/DEKOIS_comparison_BEDROC.png
results/plots/DEKOIS_comparison_EF1.png
results/plots/DUD-E_all_models_AUC.png
results/plots/DUD-E_all_models_BEDROC.png
results/plots/DUD-E_all_models_EF1.png
results/plots/DUD-E_box_clustering_methods_AUCROC_all.png
results/plots/DUD-E_box_clustering_methods_BEDROC_all.png
results/plots/DUD-E_box_clustering_methods_EF_all.png
results/plots/DUD-E_box_combined_plots_aucroc.png
results/plots/DUD-E_box_combined_plots_BEDROC.png
results/plots/DUD-E_box_combined_plots.png
results/plots/DUD-E_box_consensus_methods_AUCROC_all.png
results/plots/DUD-E_box_consensus_methods_BEDROC_all.png
results/plots/DUD-E_box_consensus_methods_EF_all.png
results/plots/DUD-E_box_SF_count_AUCROC.png
results/plots/DUD-E_box_SF_count_BEDROC.png
results/plots/DUD-E_box_SF_count_EF_all.png
results/plots/DUD-E_comparison_AUC_filtered.png
results/plots/DUD-E_comparison_AUC.png
results/plots/DUD-E_comparison_BEDROC_filtered.png
results/plots/DUD-E_comparison_BEDROC.png
results/plots/DUD-E_comparison_EF1_filtered.png
results/plots/DUD-E_comparison_EF1.png
performance.ipynb
