# Byte-compiled / optimized / DLL files
.vscode
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
DockM8.code-workspace
software/Convex-PL
software/gnina
software/KORP-PL
software/PLANTS
software/qvina-w
software/qvina2.1
software/rf-score-vs
software/smina.static
software/AA-Score-Tool-main/
software/gypsum_dl-1.2.1/
software/models/DeepCoy_DEKOIS_model_e10.pickle
software/models/DeepCoy_DUDE_model_e09.pickle
software/models/DeepCoy_DUDE_phosphorus_model_e10.pickle
software/SCORCH-1.0.0/
software/RTMScore-main/
aldh1.ipynb
software/RTMScore/
dekois.ipynb
log.txt
dekois copy.ipynb
dud-e.ipynb
testing_notebook_parallel.ipynb
lit-pcba.ipynb
dude copy.ipynb
dude.ipynb
results/DEKOIS_RESULTS/DEKOIS_consensus_clustering_plots.ipynb
results/DEKOIS_RESULTS/DEKOIS_literature.xlsx
results/DUD-E_RESULTS/DUD-E_literature.xlsx
results/Lit-PCBA_RESULTS/Lit-PCBA_literature.xlsx
results/plots/
performance.ipynb
results/DEKOIS_RESULTS/results_dockm8_max.csv
results/DUD-E_RESULTS/results_dockm8_max.csv
tprm5.ipynb
results/DEKOIS_RESULTS/clustering and consensus top1.ipynb
dockm8 copy.ipynb
software/RTMScore-main/analysis.ipynb
results/DEKOIS_RESULTS/DEKOIS_targetclasses.xlsx
results/DEKOIS_RESULTS/results_dockm8_EF_1%.csv
results/DUD-E_RESULTS/DUD-E_results_dockm8_max.csv
results/DUD-E_RESULTS/results_dockm8_EF_1%.csv
results/Lit-PCBA_RESULTS/litpcba_results_dockm8_max.csv
results/Lit-PCBA_RESULTS/results_dockm8_EF_1%.csv
results/plots/DEKOIS_comparison_EF1_dark.png
results/plots/DUD-E_comparison_EF1_dark.png
results/plots/Lit-PCBA_comparison_EF1_dark.png
run1_smallPharmIT.ipynb
PLANTS.err
software/p2rank/
*_dockm8_config.yml
line_counter.py
software/psovina
software/vinaXB
software/posecheck-main/
software/posecheck/
results/DEKOIS_RESULTS/
results/DUD-E_RESULTS/
results/Lit-PCBA_RESULTS/
results/3datasets_top_counts.ipynb
results/split_analysis.ipynb
tests/test_files/rescoring/rescoring_example_poses_1fvv/
tests/test_files/1obv.pdb
tests/test_files/P00520.pdb
tests/test_files/4kd1_p/
tests/test_files/1fvv_p/
software/ITScoreAff_v1.0/
software/DLIGAND2/
software/LinF9
software/FABind/
software/plantain/
software/panther/
software/GenScore/
software/censible/
software/DeepRMSD-Vina_Optimization
tests/test_files/fabind_test/
software/shaep
tests/test_files/rescoring/output/
software/MGL_Tools/
tests/test_files/docking/output/
TODO.txt
tests/test_files/pose_selection/bestpose_GNINA_clustered.sdf
tests/test_files/pose_selection/KORP-PL_clustered.sdf
tests/test_files/pose_selection/RMSD_clustered.sdf
tests/test_files/setup/test_software/
notebooks/analysis
lit-pcba_run.ipynb
test.ipynb
software/flexx/flexx
software/flexx/flexx-6.1.1-Linux-x64
software/flexx/qt.conf
software/flexx/seesar_20250531_1.lic
software/flexx/seesar_20250531_1.lic:Zone.Identifier
software/flexx/doc/FlexX-UserGuide.pdf
software/flexx/readme/Installation_SRC_NLopt.txt
software/flexx/readme/Installation_SRC_Qt.txt
software/flexx/readme/Installation_SRC_Quazip.txt
software/flexx/readme/license_Apache2.txt
software/flexx/readme/license_Boost.txt
software/flexx/readme/license_LGPLV2_1.txt
software/flexx/readme/license_LGPLV3_GPLV3.txt
software/flexx/readme/license_OpenSSL_SSLeay.txt
software/flexx/readme/license_SILOPENFONTLICENSE.txt
software/flexx/readme/LICENSE.txt
software/flexx/readme/Qt_3rdPartyLibs.html
software/flexx/readme/qt_6.4.0.patch
software/flexx/readme/README.html
software/hydescorer/hydescorer
software/hydescorer/hydescorer-2.1.1-Linux-x64
software/hydescorer/qt.conf
software/hydescorer/seesar_20250531_1.lic
software/hydescorer/seesar_20250531_1.lic:Zone.Identifier
software/hydescorer/doc/Hydescorer-UserGuide.pdf
software/hydescorer/readme/Installation_SRC_NLopt.txt
software/hydescorer/readme/Installation_SRC_Qt.txt
software/hydescorer/readme/Installation_SRC_Quazip.txt
software/hydescorer/readme/license_Apache2.txt
software/hydescorer/readme/license_Boost.txt
software/hydescorer/readme/license_LGPLV2_1.txt
software/hydescorer/readme/license_LGPLV3_GPLV3.txt
software/hydescorer/readme/license_OpenSSL_SSLeay.txt
software/hydescorer/readme/license_SILOPENFONTLICENSE.txt
software/hydescorer/readme/LICENSE.txt
software/hydescorer/readme/Qt_3rdPartyLibs.html
software/hydescorer/readme/qt_6.4.0.patch
software/hydescorer/readme/README.html
splitter.ipynb
